@model List<MyPortfolio_MVC.Models.TblExpertis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlıklarım</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        
        <th>Bar Yüzdesi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExpertiseId</td>
            <td>@item.Title</td>
            <td>%@item.BarHeight </td>
            <td><a class="btn btn-outline-danger" href="/Expertise/ExpertiseDelete/@item.ExpertiseId">Sil</a></td>
            <td><a class="btn btn-outline-info" href="/Expertise/Update/@item.ExpertiseId">Güncelle</a></td>
        </tr>
    }

</table>
<br />

<a href="/Expertise/ExpertiseCreate" class="btn btn-primary">Yeni Uzmanlık Ekle</a>




