﻿@model MyPortfolio_MVC.Models.TblExpertis
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlık Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ExpertiseId)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

   
    

    <label>Bar Yüzdesi(0-100 aralığında bir değer giriniz)</label>
     @Html.TextBoxFor(x => x.BarHeight,new {@class = "form-control"})

    <br />
    <button class="btn btn-outline-success">Güncelle</button>

</form>

