@model List<MyPortfolio_MVC.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Sosyal Medya</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya Uygulama Adı</th>
        <th>Sosyal Medya Url</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td><a class="btn btn-outline-danger" href="/Social/Delete/@item.SocialMediaId">Sil</a></td>
            <td><a class="btn btn-outline-info" href="/Social/Update/@item.SocialMediaId">Güncelle</a></td>
        </tr>
    }


</table>

<a class="btn btn-outline-success" href="/Social/Create">Yeni Sosyal Medya Ekle</a>

